@model AuctionBid
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AuctionBid</title>
</head>

<body>
    <form asp-action="CreateBid" method="post">
        <input type="hidden" asp-for="@Model.AuctionId" />
        <table>
            <tr>
                <th> Current Bid: </th>
                <td> @ViewBag.HighestBid?.BidAmount.ToString("C2") </td>
            </tr>
            <tr>
                <th> User Id: </th>
                <td> <input asp-for="UserId" type="number" /> </td>
            </tr>
            <tr>
                <th> Bid Amount: </th>
                <td> <input asp-for="BidAmount" type="number" /> </td>
            </tr>
            <tr>
                <th></th>
                <td> <input type="submit" class="btn btn-success" value="Place Bid" /></td>
            </tr>
        </table>
    </form>
</body>
</html>