@model AuctionBid
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AuctionBid</title>
</head>
<body>
    <form asp-controller="AuctionBid" asp-action="UpdateBid" method="post">
        <table>
            <tr>
                <th> User Id: </th>
                <td> <input asp-for="UserId" type="number" /> </td>
            </tr>
            <tr>
                <th> Bid Amount: </th>
                <td> <input asp-for="BidAmount" type="number" /> </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <button class="btn btn-primary" asp-action="UpdateBid"> Update </button>
                    <button class="btn btn-outline-danger" asp-controller="Auction" asp-action="Index" formmethod="get">
                        Cancel
                    </button>
                </td>
            </tr>
        </table>
    </form>

</body>
</html>

