@model Auction

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Auctions </title>
</head>

<body>
    <form method="post">
        <input type="hidden" asp-for="AuctionId"/>
  
        <h1> Are You Sure? </h1>
        <button class="btn btn-danger" asp-action="Delete"> Delete </button>
        <button class="btn btn-outline-success" asp-action="Index" formmethod="get">
            Cancel
        </button>
    </form>
</body>
</html>
