@model IQueryable<Auction>
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to the Auction Site!</h1>
    @foreach (Auction a in Model)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Auction ID</th>
                    <th scope="col">Seller ID</th>
                    <th scope="col">Product ID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">@a.AuctionId</th>
                    <td>@a.SellerId</td>
                    <td>@a.ProductId</td>
                    <td><form action="/auction/update/@a.AuctionId" class="d-inline">
                        <button class="btn btn-primary">Update</button>
                        </form></td>
                    <td><form action="/auction/delete/@a.AuctionId" class="d-inline">
                        <button class="btn btn-danger">Delete</button>
                        </form></td>
                    <td><form action="/auction/detail/@a.AuctionId" class="d-inline">
                        <button class="btn btn-secondary">Details</button>
                        </form></td>
                </tr>
            </tbody>
        </table>
    }
</body>
</html>
