
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unauthorized</title>
</head>
<body>
    <h2 class="alert-danger">You are not logged in as an Administrator.</h2>
    <h2 class="alert-danger">Please login as an Administrator and try again.</h2>
</body>
</html>
